<div class="container">
	<div class="row">
		<h1>Login Page</h1>
		<%= render 'sessions/loginform'%>
	</div>
	<div class="row">
		<%= link_to "Forgot your Password?", new_password_reset_path, :class => "col-sm-6" %>
	</div>
</div>
