<div class="containter">
	<div class="row">
		<h1>Update Your Password</h1>
		<%= bootstrap_form_for @user, url: update_password_path, :html => {class: "col-sm-6"} do |f|%>
			<%= f.password_field :password %>
			<%= f.password_field :password_confirmation %>
			<%= f.submit "Change Password", class: "btn btn-info" %>
		<% end %>
	</div>
</div>
