<div class="container-fluid center">
	<%= link_to root_path do %>
		<%= image_tag "hitrust.png",class: 'brand center' %>
	<% end %>
	<h1>Products and Services Guide</h1>
	<div class="row">
		<div class="col-md-6">
			Test
		</div>
		<div class="col-md-6">
			Test2
		</div>
	</div>	
</div>
