<%= render 'references/search' %>

<% if !@r.any? %>
<table id = "reference-table">
	<tr>
		<th>Control Reference</th>
	</tr>
	<% @references.each do |ref|%>
	<tr>
		<td><%= link_to ref.full_ref, reference_path(ref) %></td>
	</tr>
	<% end %>
</table>
<%= paginate @references %>
<% end %>
