<p class="return"><%= link_to "<<< Return to References",references_path %></p>
<h1 class="center">Control Reference: <%= @reference.full_ref %></h1>
<div class="container">
	<div class="row center spec">
		<p><%= @reference.specification.html_safe %></p>
	</div>
</div>
