@import "bootstrap-sprockets";
@import "bootstrap";

/*Vars*/
$hitrust-red: #961E1B;
$hitrust-blue: #121536;
$nav-black: #444242;


/*Mixins*/
@mixin box-shadow($first,$second) {
    -webkit-box-shadow: 0 1px 10px $first, 0 1px 5px $second inset;
    -moz-box-shadow: 0 1px 10px $first, 0 1px 5px $second inset;
    box-shadow: 0 1px 10px $first, 0 1px 5px $second inset;
}

@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}

@mixin background-clip($option) {
    -moz-background-clip: $option;     /* Firefox 3.6 */
    -webkit-background-clip: $option;  /* Safari 4? Chrome 6? */
    background-clip: $option+"-box";      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}