// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin-table {
  width: 100%;
}

.admin-table-half {
  width: 50%;
}

.admin-table tr:nth-child(odd),.admin-table-half tr:nth-child(odd) {
  background-color: #E0F2F7;
}

.admin-table th, .admin-table-half th {
  background-color: #fff;
}

.inactive-vendor {
  text-decoration: line-through;
}

.no-decoration {
  text-decoration: none;
}


.negativefifteen {
  position:relative;
  left: -15px;
}

#vendor-head {
  font-size: 20px;
  width: 50%;
  height: 50px;
  vertical-align:bottom;
  line-height:50px;
}

#vendor-label {
  float:left;
  width:50%;
}

@media (max-width: 967px) {
  .admin-table-half,#vendor-head {
    width: 100%;
  }
  
  .negativefifteen {
    left: 0px;
  }
}