//$navbar-default-bg: black;


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family:'Open Sans', sans-serif;
}

.navbar {
  border-radius: 0;
  font-weight: bold;
  background-color: #B2AD73;
  box-shadow: 0px 10px 10px lightgrey;
}

.collapse.navbar-right.navbar-collapse {
  padding-top: 13px;
}

.navbar-brand {
  height: 75px;
  width: auto;
}

.center {
  text-align: center;
}

.footer {
  margin-top: 50px;
}

.return {
  padding-left:30px;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}


.nav-links:hover {
  color: lightgrey!important;
}

h1 {
  font-family: 'Kreon', serif;
}


/* Homepage Icons */

.search-tile {
    height: 150px;
    vertical-align: middle;
    line-height: 150px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 2%;
    box-shadow: 0 1px 10px black;
    margin: 50px 0;
}

#search-ref {
  background-color: #961E1B;
  color: white; 
}

#search-ref:hover {
  background-color: #a94442; 
}

#search-vendor {
  background-color: #121536;
  color: white;
}


#search-vendor:hover {
  background-color: #5a6369;
}

.alert {
  margin-top: 30px;
}

.inactive-user {
  text-decoration: line-through;
}
