/*New Nav Bar Stuff*/
#page-content-wrapper{
	padding-top: 40px;
}

.brand {
  height: 50px;
  width: auto;
  margin: auto 0;
}

#sidebar-wrapper{
	opacity:1;
	color: white;
	background-color: #444242;
}

#close_menu {
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

#close_menu:hover {
	cursor: pointer;
	text-decoration: underline;
}

#open_menu{
	position: fixed;
	top: 20px;
	left: 20px;
	opacity:0;
	font-size: 20px;
	cursor: pointer;
}

#navleft-logo {
	position:relative;
	top: 90%;
	text-align: center;
	overflow:hidden;
}

#navleft-logo > img {
	opacity: .7;
	width: 60px;
}

.divide {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid grey;
}

.sidebar-nav li a,.sidebar-nav > .sidebar-brand a {
	color:white;
}


@media(max-width:767px) {
	#open_menu{
		opacity:1;
		z-index: 2;
	}
}
