// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-logo-page {
  height: 80px;
  width: auto;
  padding-bottom: 15px;
}


.product-divide {
  margin-top: 40px;
  border-top: 2px solid black;
}


.product-title {
  padding-left:15px;
}