// Place all the styles related to the References controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#null-results{
  color: red;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

#reference-table {
  margin-top: 20px;
}

#reference-table-results tr:nth-child(even) {
  background-color: #E0F2F7;
}

#reference-table-results td:first-child {
  width: 33.33%;
}

#reference-table-results {
  margin-top: 30px;
}

.spec {
  margin-top: 20px;
}

.product-logo {
  height: 15px;
  width: auto;
}

table.products {
  width: 100%;
}

table.products td {
  padding: 5px 10px;
}

table.products tr:nth-child(even) {
  background-color: #E0F2F7;
}

#reference-table-results th {
  border-bottom: 1px solid grey;
  text-align: center;
}

#table-container {
  border: 2px solid #f5f5f5;
  padding: 15px;
}

#reference-table-results > tbody  tr:hover{
  background-color: #e8e7e7;
  cursor: pointer;
}

#reference-table-results > tbody  tr:last-child {
  border-bottom: 1px solid grey;
}
#reference-table-results th {
  padding-bottom: 5px;
}

#reference-table-results td {
  padding: 10px 0;
}

#ref-paginiation {
  display:inline-block;
  margin:25px 0 50px 0;
  text-align: center;
  div {
    float:left;
    width: 75px;
    border:1px solid black;
    box-shadow: 5px 0px 5px #808080;
    @include border-radius(5px);
    background: $hitrust-red;
    color: #fff;
    cursor: pointer;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    user-select: none;
  }
  div:hover {
    opacity:.85;
  }
  #ref-back {
    background: $hitrust-blue;
  }
}

.product-btn {
  clear:both;
  display:block;
}

.ref-list {
  display:none;
  position:relative;
}

@media (max-width: 480px) {
  table#reference-table-results td:nth-child(2),
  table#reference-table-results th:nth-child(2) {
    display:none;
  }
  
  table#reference-table-results td:nth-child(1),
  table#reference-table-results th:nth-child(1) {
    width:100%;
  }
}