// Place all the styles related to the References controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#null-results{
  color: red;
  font-weight: bold;
  font-size: 16px;
}

#reference-table {
  margin-top: 20px;
}

#reference-table-results {
  margin-top: 30px;
}

.spec {
  margin-top: 20px;
}

.product-logo {
  height: 15px;
  width: auto;
}

table.products td {
  padding: 5px 10px;
}

table.products tr:nth-child(even) {
  background-color: #E0F2F7;
}