#table-search-result_wrapper table {
    width:100%;
}

#table-search-result td:first-child {
    width:60%;
}

#table-search-result_wrapper table tr:nth-child(even) {
  background-color: #E0F2F7;
}

#table-search-result th {
  border-bottom: 1px solid grey;
  text-align: center;
}

#table-search-result td {
    padding:5px 0;
}

#search-container {
  border: 2px solid #f5f5f5;
  padding: 15px;
}

#table-search-result > tbody  tr:hover{
  background-color: #e8e7e7;
  cursor: pointer;
}

#table-search-result > tbody  tr:last-child {
  border-bottom: 1px solid grey;
}
#table-search-result th {
  padding-bottom: 5px;
}

.search-input {
    margin-bottom: 10px;
    border:none;
    background-color: #444242;
    outline:none;
    width:180px;
    color:white;
    height:100%;
}

.search-wrap {
    border:1px solid grey;
    width: 200px;
    height:30px;
    background-color: #444242;
    margin-bottom: 10px;
    line-height: 30px;
    vertical-align:middle;
    overflow:hidden;
}

.search-glass {
    color:white;
    text-align:left;
}