<div id="open_menu">
	<span class="glyphicon glyphicon-align-justify"></span>
</div>
<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            	<li id="close_menu">
                	Close
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                       <span class="glyphicon glyphicon-user"></span>
                        Log-in
                    </a>
                </li>
                
                <li><%= link_to "Home", root_path %></li>
               	<li><%= link_to "References", references_path %></li>
		        <li><%= link_to "Vendors", vendors_path %></li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
</div>


